@-webkit-keyframes node-inserted {
    0% {
        -webkit-transform: none;
        transform: none
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}
@keyframes node-inserted {
    0% {
        -webkit-transform: none;
        transform: none
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}
.node-inserted {
    -webkit-animation-name: node-inserted;
    animation-name: node-inserted;
    -webkit-animation-duration: .1ms;
    animation-duration: .1ms
}
m-home-slider .home-slider {
    width: 10rem
}
m-home-slider .swiper-container {
    width: 10rem;
    height: 3.33333rem
}
m-home-slider .home-slider-pic {
    width: 10rem;
    height: 4.6rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -1.2rem
}
m-home-slider .swiper-pagination {
    width: 1.14667rem;
    height: .48rem;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    z-index: 999999;
    bottom: .26667rem;
    right: .33333rem;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    padding: 0 .06667rem;
    box-sizing: border-box
}
m-home-slider .swiper-active-index {
    font-size: .34667rem;
    color: #fff;
    font-weight: 500
}
m-home-slider .swiper-fuhao {
    display: block;
    background-image: url(https://img.alicdn.com/tfs/TB1FIrrRSzqK1RjSZPxXXc4tVXa-16-23.png);
    background-size: cover;
    height: .26667rem;
    width: .2rem
}
m-home-slider .swiper-length-index {
    font-size: .34667rem;
    color: #d8d8d8
}
m-home-slider {
    -webkit-animation-name: node-inserted;
    animation-name: node-inserted;
    -webkit-animation-duration: .1ms;
    animation-duration: .1ms
}
@-webkit-keyframes node-inserted {
    0% {
        -webkit-transform: none;
        transform: none
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}
@keyframes node-inserted {
    0% {
        -webkit-transform: none;
        transform: none
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}
.node-inserted {
    -webkit-animation-name: node-inserted;
    animation-name: node-inserted;
    -webkit-animation-duration: .1ms;
    animation-duration: .1ms
}
m-home-nav2 .home-nav {
    padding: .26667rem .13333rem .45333rem;
    background-color: #fff;
    width: 10rem;
    margin-bottom: .21333rem
}
m-home-nav2 .home-nav-box {
    overflow: hidden
}
m-home-nav2 .home-nav-item {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 1.94667rem;
    padding-top: .32rem;
    float: left
}
m-home-nav2 .home-nav-item img {
    width: 1.06667rem;
    height: 1.06667rem
}
m-home-nav2 .home-nav-item span {
    line-height: .45333rem;
    margin-top: .13333rem;
    font-size: .32rem;
    color: #666
}
m-home-nav2 {
    -webkit-animation-name: node-inserted;
    animation-name: node-inserted;
    -webkit-animation-duration: .1ms;
    animation-duration: .1ms
}
@-webkit-keyframes node-inserted {
    0% {
        -webkit-transform: none;
        transform: none
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}
@keyframes node-inserted {
    0% {
        -webkit-transform: none;
        transform: none
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}
.node-inserted, m-you-may-like {
    -webkit-animation-name: node-inserted;
    animation-name: node-inserted;
    -webkit-animation-duration: .1ms;
    animation-duration: .1ms
}
@-webkit-keyframes node-inserted {
    0% {
        -webkit-transform: none;
        transform: none
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}
@keyframes node-inserted {
    0% {
        -webkit-transform: none;
        transform: none
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}
.node-inserted {
    -webkit-animation-name: node-inserted;
    animation-name: node-inserted;
    -webkit-animation-duration: .1ms;
    animation-duration: .1ms
}
m-home-header .home-header {
    width: 10rem;
    height: 1.2rem;
    display: -webkit-flex;
    display: flex;
    background-color: #fff
}
m-home-header .home-header-logo {
    width: 3.77333rem;
    height: .66667rem;
    margin-top: .32rem;
    margin-left: .26667rem
}
m-home-header .home-header-info {
    width: 4.76rem;
    height: .32rem;
    margin-top: .48rem;
    margin-left: .66667rem
}
m-home-header {
    -webkit-animation-name: node-inserted;
    animation-name: node-inserted;
    -webkit-animation-duration: .1ms;
    animation-duration: .1ms
}
@-webkit-keyframes node-inserted {
    0% {
        -webkit-transform: none;
        transform: none
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}
@keyframes node-inserted {
    0% {
        -webkit-transform: none;
        transform: none
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}
.node-inserted {
    -webkit-animation-name: node-inserted;
    animation-name: node-inserted;
    -webkit-animation-duration: .1ms;
    animation-duration: .1ms
}
body {
    background: #f2f2f2
}
m-door-hole .home-door-hole {
    width: 10rem;
    height: 6rem;
    background-color: #fff;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: .21333rem
}
m-door-hole .home-door-hole .item {
    display: block;
    text-decoration: none;
    width: 4.99333rem;
    box-sizing: border-box;
    border-right: 1px solid #f2f2f2
}
m-door-hole .home-door-hole .mainItem {
    height: 3.97333rem;
    padding-top: .29333rem;
    padding-left: .4rem
}
m-door-hole .home-door-hole .subItem {
    height: 2.02667rem;
    padding: .4rem .53333rem .2rem .42667rem;
    border-top: 1px solid #f2f2f2;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    box-sizing: border-box
}
m-door-hole .home-door-hole .subItem .subImg {
    height: 1.6rem;
    width: 1.6rem
}
m-door-hole .home-door-hole .mainTitle {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    font-size: .42667rem;
    position: relative
}
m-door-hole .home-door-hole .mainTitle .tag {
    font-size: .29333rem;
    color: #fff;
    display: inline-block;
    height: .4rem;
    line-height: .4rem;
    padding-left: .21333rem;
    padding-right: .13333rem;
    margin-left: .13333rem;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%
}
m-door-hole .home-door-hole .mainTitle .tag .tagText {
    position: relative
}
m-door-hole .home-door-hole .mainTitle .tag .tagTri {
    position: absolute;
    width: 0;
    height: 0;
    border-width: 0 12px 12px;
    border-style: solid;
    bottom: 0;
    left: -.08rem
}
m-door-hole .home-door-hole .subTitle {
    font-size: .32rem;
    margin-bottom: .18667rem
}
m-door-hole .home-door-hole .offers {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row
}
m-door-hole .home-door-hole .offers .offer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    margin-right: .72rem
}
m-door-hole .home-door-hole .offers .offer .offerImg {
    width: 1.6rem;
    height: 1.6rem
}
m-door-hole .home-door-hole .offers .offer .offerText {
    margin-top: .13333rem;
    font-size: .28rem
}
m-door-hole .home-door-hole .proDesc {
    margin-top: .13333rem;
    font-size: .29333rem;
    color: #666
}
m-door-hole {
    -webkit-animation-name: node-inserted;
    animation-name: node-inserted;
    -webkit-animation-duration: .1ms;
    animation-duration: .1ms
}
@-webkit-keyframes node-inserted {
    0% {
        -webkit-transform: none;
        transform: none
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}
@keyframes node-inserted {
    0% {
        -webkit-transform: none;
        transform: none
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}
.node-inserted {
    -webkit-animation-name: node-inserted;
    animation-name: node-inserted;
    -webkit-animation-duration: .1ms;
    animation-duration: .1ms
}
m-home-nav .home-nav {
    padding: .26667rem .13333rem 0;
    background-color: #fff;
    width: 10rem
}
m-home-nav .home-nav-box {
    overflow: hidden
}
m-home-nav .home-nav-item {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 1.94667rem;
    padding-top: .32rem;
    float: left
}
m-home-nav .home-nav-item img {
    width: 1.06667rem;
    height: 1.06667rem
}
m-home-nav .home-nav-item span {
    line-height: .45333rem;
    margin-top: .13333rem;
    font-size: .32rem;
    color: #666
}
m-home-nav {
    -webkit-animation-name: node-inserted;
    animation-name: node-inserted;
    -webkit-animation-duration: .1ms;
    animation-duration: .1ms
}
@-webkit-keyframes node-inserted {
    0% {
        -webkit-transform: none;
        transform: none
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}
@keyframes node-inserted {
    0% {
        -webkit-transform: none;
        transform: none
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}
.node-inserted {
    -webkit-animation-name: node-inserted;
    animation-name: node-inserted;
    -webkit-animation-duration: .1ms;
    animation-duration: .1ms
}
m-home-banner .home-banner {
    width: 10rem;
    margin-bottom: .21333rem
}
m-home-banner .home-banner a, m-home-banner .home-banner img {
    display: block;
    width: 100%
}
m-home-banner {
    -webkit-animation-name: node-inserted;
    animation-name: node-inserted;
    -webkit-animation-duration: .1ms;
    animation-duration: .1ms
}
@-webkit-keyframes node-inserted {
    0% {
        -webkit-transform: none;
        transform: none
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}
@keyframes node-inserted {
    0% {
        -webkit-transform: none;
        transform: none
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}
.node-inserted {
    -webkit-animation-name: node-inserted;
    animation-name: node-inserted;
    -webkit-animation-duration: .1ms;
    animation-duration: .1ms
}
m-home-search .home-search {
    display: -webkit-flex;
    display: flex;
    width: 10rem;
    height: 1.2rem;
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
    padding-left: .4rem;
    padding-right: .32rem;
    box-sizing: border-box;
    transition: -webkit-transform .4s cubic-bezier(.01, .8, .32, 1);
    transition: transform .4s cubic-bezier(.01, .8, .32, 1);
    transition: transform .4s cubic-bezier(.01, .8, .32, 1), -webkit-transform .4s cubic-bezier(.01, .8, .32, 1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}
m-home-search .home-search-second {
    position: fixed;
    top: 0;
    left: 0;
    transition: all .5s;
    z-index: 7
}
m-home-search .home-search-input {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1;
    flex: 1;
    height: .88rem;
    -webkit-align-items: center;
    align-items: center;
    background-color: #ececec;
    border-radius: 5px;
    padding-left: .33333rem;
    padding-right: .26667rem
}
m-home-search .home-search-input-icon {
    width: .44rem;
    height: .44rem
}
m-home-search .home-search-input-text {
    -webkit-flex: 1;
    flex: 1;
    height: .53333rem;
    line-height: .53333rem;
    margin-left: .26667rem;
    margin-right: .26667rem;
    padding-top: .04rem;
    font-size: .37333rem;
    color: #93959a
}
m-home-search .home-search-input-rec {
    width: 1.84rem;
    height: .53333rem;
    line-height: .53333rem;
    font-size: .32rem;
    color: #999;
    text-align: center;
    border: 1px solid #e3e3e3;
    background-color: #fff;
    border-radius: 24px
}
m-home-search .home-search-operate {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-left: .21333rem
}
m-home-search .home-search-opt-login {
    width: 1.33333rem;
    height: .66667rem;
    line-height: .66667rem;
    font-size: .32rem;
    border: 1px solid #ff6000;
    text-align: center;
    color: #ff6000;
    border-radius: 5px
}
m-home-search .home-search-opt-icon {
    width: .48rem;
    height: .48rem
}
m-home-search .home-search-opt-collect {
    margin-top: .10667rem;
    font-size: .26667rem;
    color: #444
}
m-home-search {
    -webkit-animation-name: node-inserted;
    animation-name: node-inserted;
    -webkit-animation-duration: .1ms;
    animation-duration: .1ms
}
@-webkit-keyframes node-inserted {
    0% {
        -webkit-transform: none;
        transform: none
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}
@keyframes node-inserted {
    0% {
        -webkit-transform: none;
        transform: none
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}
.node-inserted {
    -webkit-animation-name: node-inserted;
    animation-name: node-inserted;
    -webkit-animation-duration: .1ms;
    animation-duration: .1ms
}
m-common-footer .common-footer {
    width: 10rem;
    height: 3.42667rem;
    margin-top: .16rem;
    margin-bottom: 1.73333rem;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-flex-direction: column;
    flex-direction: column;
    overflow: hidden
}
m-common-footer .common-footer, m-common-footer .footer-top {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}
m-common-footer .footer-top {
    width: 5.81333rem;
    height: .61333rem;
    line-height: .61333rem;
    margin-bottom: .12rem;
    list-style: none;
    -webkit-flex-direction: row;
    flex-direction: row
}
m-common-footer .footer-top li {
    color: #b2b2b2;
    font-size: .32rem
}
m-common-footer .footer-top li a {
    color: #b2b2b2;
    font-size: .32rem;
    text-decoration: none
}
m-common-footer .footer-top li span {
    margin: 0 .13333rem
}
m-common-footer .app-list {
    list-style: none;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 5.2rem
}
m-common-footer .app-list, m-common-footer .app-list li a {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}
m-common-footer .app-list li a {
    text-decoration: none;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    color: #999;
    font-size: .34667rem
}
m-common-footer .app-list li img {
    width: 1.06667rem;
    height: 1.06667rem;
    border-radius: 80px;
    margin-bottom: .13333rem
}
m-common-footer .app-list li span {
    font-size: .32rem;
    color: #999
}
m-common-footer .copy-right {
    color: #b2b2b2;
    font-size: .29333rem;
    margin-top: .13333rem
}
m-common-footer {
    -webkit-animation-name: node-inserted;
    animation-name: node-inserted;
    -webkit-animation-duration: .1ms;
    animation-duration: .1ms
}
@-webkit-keyframes node-inserted {
    0% {
        -webkit-transform: none;
        transform: none
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}
@keyframes node-inserted {
    0% {
        -webkit-transform: none;
        transform: none
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}
.node-inserted, m-search-modal {
    -webkit-animation-name: node-inserted;
    animation-name: node-inserted;
    -webkit-animation-duration: .1ms;
    animation-duration: .1ms
}
m-search-modal .search-modal {
    position: fixed;
    display: none;
    visibility: hidden;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: auto;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    z-index: -1;
    overscroll-behavior: contain
}
m-search-modal .search-modal.active {
    display: -webkit-flex;
    display: flex;
    visibility: visible;
    z-index: 8
}
m-search-modal .search-modal.active .search-modal_recent.active, m-search-modal .search-modal.active .search-modal_top.active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}
m-search-modal .search-modal .search-modal_autocomplete {
    position: fixed;
    display: none;
    top: 1.41333rem;
    font-size: .38667rem;
    width: 100%;
    background-color: #f5f5f5;
    height: 100%;
    overflow: hidden;
    z-index: 2
}
m-search-modal .search-modal .search-modal_autocomplete .autocomplete-list_item, m-search-modal .search-modal .search-modal_autocomplete .autocomplete-list_url {
    display: block;
    background-color: #fff;
    line-height: 2;
    padding: .26667rem .53333rem;
    border-bottom: 1px solid #ccc
}
m-search-modal .search-modal .search-modal_autocomplete .autocomplete-list_url {
    color: #e24c4c;
    font-weight: 700;
    font-size: .4rem
}
m-search-modal .search-modal .search-modal_recent {
    top: 1.41333rem;
    position: absolute;
    -webkit-flex-direction: column;
    flex-direction: column;
    opacity: .1;
    -webkit-transform: translateY(1.33333rem);
    transform: translateY(1.33333rem);
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain
}
m-search-modal .search-modal .search-modal_recent, m-search-modal .search-modal .search-modal_top {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    visibility: hidden;
    transition: all .3s cubic-bezier(.16, .77, .35, 1), opacity .6s cubic-bezier(.16, .77, .35, 1)
}
m-search-modal .search-modal .search-modal_top {
    position: fixed;
    top: 0;
    opacity: .5;
    height: 1.41333rem;
    background-color: #fff;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    border-bottom: 1px solid #cecece;
    padding: .26667rem;
    box-shadow: 0 3px 18px rgba(0, 0, 0, .1);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    z-index: 2
}
m-search-modal .search-modal .search-modal_top .top_input {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1;
    flex: 1;
    height: .88rem
}
m-search-modal .search-modal .search-modal_top .top_input .top_input-text {
    color: #9b9b9b;
    background-color: #efefef;
    padding-left: .26667rem;
    padding-right: 1.86667rem;
    -webkit-flex: 1;
    flex: 1;
    border: 0;
    border-radius: 6px;
    height: .88rem;
    line-height: .88rem;
    font-size: .34667rem
}
m-search-modal .search-modal .search-modal_top .top_input .top_search {
    position: absolute;
    right: 0;
    top: 0;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    line-height: .88rem;
    padding: 0 .26667rem;
    overflow: hidden;
    border: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #efefef;
    -webkit-appearance: none;
    appearance: none
}
m-search-modal .search-modal .search-modal_top .top_input .top_search .top_search-icon {
    color: #bfbfbf;
    font-size: .48rem
}
m-search-modal .search-modal .search-modal_top .top_input .top_clear {
    position: absolute;
    right: 1.01333rem;
    top: 0;
    display: none;
    height: 100%;
    -webkit-justify-content: center;
    justify-content: center;
    line-height: .88rem;
    padding-left: .26667rem;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
    border: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #efefef;
    -webkit-appearance: none;
    appearance: none
}
m-search-modal .search-modal .search-modal_top .top_input .top_clear .top_clear-icon {
    color: #bfbfbf;
    font-size: .37333rem
}
m-search-modal .search-modal .search-modal_top .top_back {
    color: #7e7e7e;
    padding: 0 .13333rem;
    font-size: .4rem;
    height: .86667rem;
    line-height: .85333rem;
    margin-left: .4rem
}
m-search-modal .search-modal .search-modal_hot {
    padding: .4rem .4rem 0;
    background-color: #f5f5f5
}
m-search-modal .search-modal .search-modal_hot .modal_title {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    color: #9b9b9b;
    font-size: .37333rem;
    padding-bottom: .26667rem
}
m-search-modal .search-modal .search-modal_hot .modal_hot-refresh {
    display: -webkit-flex;
    display: flex;
    font-size: .32rem
}
m-search-modal .search-modal .search-modal_hot .modal_hot-refresh .modal_hot-refresh-icon {
    font-size: .45333rem;
    line-height: .45333rem;
    margin-right: .02667rem;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}
m-search-modal .search-modal .search-modal_hot .modal_hot-tags {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    flex-direction: row
}
m-search-modal .search-modal .search-modal_hot .modal_hot-tags .hot-tag {
    color: #333;
    background-color: #fff;
    font-size: .4rem;
    width: 30.4%;
    height: 1.09333rem;
    line-height: 1.09333rem;
    padding: 0 .13333rem;
    margin: 1.4%;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
m-search-modal .search-modal .search-modal_hot .modal_hot-tags .hot-tag-empty {
    width: 100%;
    height: 2.24rem;
    line-height: 2.24rem;
    font-size: .37333rem;
    text-align: center;
    color: #ccc
}
m-search-modal .search-modal .search-modal_history {
    max-width: 100%
}
m-search-modal .search-modal .search-modal_history .search-modal_title {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    padding: .26667rem .4rem;
    background-color: #f5f5f5;
    color: #9b9b9b;
    font-size: .37333rem;
    padding-bottom: .26667rem
}
m-search-modal .search-modal .search-modal_history .search-modal_title .search-modal_clear {
    display: -webkit-flex;
    display: flex;
    padding-left: .8rem
}
m-search-modal .search-modal .search-modal_history .search-modal_title .search-modal_clear .search-modal_clear-icon {
    font-size: .42667rem;
    line-height: .42667rem
}
m-search-modal .search-modal .search-modal_history .search-modal_historytags {
    border-top: 1px solid #cecece;
    background-color: #f5f5f5;
    padding-bottom: .26667rem
}
m-search-modal .search-modal .search-modal_history .search-modal_historytags .history-tag {
    padding: 0 .4rem;
    height: 1.28rem;
    line-height: 1.28rem;
    font-size: .4rem;
    background-color: #fff;
    border-bottom: 1px solid #cecece;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
m-search-modal .search-modal .search-modal_history .search-modal_historytags .history-tag-empty {
    width: 100%;
    height: 2.24rem;
    line-height: 2.24rem;
    font-size: .37333rem;
    text-align: center;
    color: #ccc
}
@-webkit-keyframes node-inserted {
    0% {
        -webkit-transform: none;
        transform: none
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}
@keyframes node-inserted {
    0% {
        -webkit-transform: none;
        transform: none
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}
.node-inserted {
    -webkit-animation-name: node-inserted;
    animation-name: node-inserted;
    -webkit-animation-duration: .1ms;
    animation-duration: .1ms
}
m-footer-bar .footer-bar {
    width: 10rem;
    position: fixed;
    left: 0;
    bottom: 0
}
m-footer-bar .footer-bar-container {
    width: 10rem;
    height: 1.30667rem;
    background-color: #fff;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    border-top: 1px solid #e2e2e2
}
m-footer-bar .iPhoneX-area {
    height: constant(safe-area-inset-bottom);
    height: env(safe-area-inset-bottom);
    background-color: #fff;
    width: 10rem
}
m-footer-bar .bar-item {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    text-decoration: none
}
m-footer-bar .bar-item img {
    width: .53333rem;
    height: .53333rem
}
m-footer-bar .bar-item span {
    font-size: .26667rem;
    color: #444;
    margin-top: .09333rem
}
m-footer-bar .bar-item .activeIndex {
    color: #ff6000
}
m-footer-bar {
    -webkit-animation-name: node-inserted;
    animation-name: node-inserted;
    -webkit-animation-duration: .1ms;
    animation-duration: .1ms
}
@-webkit-keyframes node-inserted {
    0% {
        -webkit-transform: none;
        transform: none
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}
@keyframes node-inserted {
    0% {
        -webkit-transform: none;
        transform: none
    }
    to {
        -webkit-transform: none;
        transform: none
    }
}
.node-inserted {
    -webkit-animation-name: node-inserted;
    animation-name: node-inserted;
    -webkit-animation-duration: .1ms;
    animation-duration: .1ms
}
m-back-top .back-top-container {
    height: 1.14667rem;
    width: 1.14667rem;
    border-radius: 86px;
    box-shadow: 0 0 0 0 #f2f2f2;
    background-color: #fff;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    position: fixed;
    bottom: 2rem;
    right: .42667rem;
    box-shadow: 0 0 4px 0 #eee
}
m-back-top .back-top-container img {
    width: .32rem;
    height: .18667rem;
    margin-bottom: .1284rem
}
m-back-top .back-top-container span {
    font-size: .29333rem;
    color: #333
}
m-back-top .back-top-hide {
    display: none
}
m-back-top {
    -webkit-animation-name: node-inserted;
    animation-name: node-inserted;
    -webkit-animation-duration: .1ms;
    animation-duration: .1ms
}
@font-face {
    font-family: wapseo;
    src: url(//at.alicdn.com/t/font_517299_345i7s00onefjemi.eot);
    src: url(//at.alicdn.com/t/font_517299_345i7s00onefjemi.eot#iefix) format("embedded-opentype"), url(//at.alicdn.com/t/font_517299_345i7s00onefjemi.woff) format("woff"), url(//at.alicdn.com/t/font_517299_345i7s00onefjemi.ttf) format("truetype"), url(//at.alicdn.com/t/font_517299_345i7s00onefjemi.svg#iconfont) format("svg")
}
::-webkit-scrollbar {
    display: none !important
}
.noscroll, .noscroll body {
    overflow: hidden
}
.noscroll.uc body {
    width: 100%;
    position: fixed
}
.noscroll body {
    position: relative
}
.icon {
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    font-size: inherit;
    font-family: wapseo;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.icon.back:before {
    content: "\E60F"
}
.icon.complete:before {
    content: "\E6E5"
}
.icon.close:before {
    content: "\E60A"
}
.icon.refresh:before {
    content: "\E631"
}
.icon.search:before {
    content: "\E638"
}
.icon.switch-view-group:before {
    content: "\E603"
}
.icon.switch-view-column:before {
    content: "\E668"
}
.icon.filter:before {
    content: "\E63A"
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
:focus {
    outline: none
}
blockquote, body, button, dd, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0
}
body {
    line-height: 1.5
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400
}
em {
    font-style: normal
}
strong {
    font-weight: 700
}
button, input, select, textarea {
    font-size: 100%
}
a {
    text-decoration: none
}
q:after, q:before {
    content: ""
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
fieldset, img {
    border: none
}
ol, ul {
    list-style: none
}
audio:not([controls]) {
    display: none;
    height: 0
}
input[type=search] {
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none
}
.display-flex, .flex-box, .search-page .search-input, .wap-app > ul {
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex
}
.fd-left {
    float: left
}
.fd-right {
    float: right
}
.fd-clear {
    clear: both
}
.fd-clr:after {
    display: block;
    clear: both;
    height: 0;
    content: " "
}
.fd-hide {
    display: none
}
.fd-show {
    display: block
}
.fd-locate {
    position: relative
}
.fd-cny {
    font-family: Helvetica, Arial
}
.fd-gray {
    color: #666
}
.fd-bold {
    font-weight: 700
}
#content:after, #footer:after, #header:after, .layout:after {
    display: block;
    clear: both;
    height: 0;
    content: " "
}
.dib {
    display: inline-block
}
a {
    color: #999
}
a, img {
    -webkit-touch-callout: none
}
.ml20 {
    margin-left: .26667rem
}
.p10 {
    padding: .13333rem
}
.p15 {
    padding: .2rem
}
.f-left {
    float: left
}
.clearfix:after, .clearfix:before {
    content: " ";
    display: table
}
.clearfix:after {
    clear: both
}
body, html {
    font-family: Helvetica Neue, Helvetica, STHeiTi, wapseo, sans-serif;
    -webkit-user-select: none;
    user-select: none
}
.header {
    background: #fafafa;
    padding: .10667rem .2rem .09333rem;
    position: relative;
    height: .66667rem;
    border-bottom: 1px solid #e6e6e6
}
.header .title {
    line-height: .45333rem;
    float: left;
    font-size: .21333rem
}
.header .sub-title {
    float: right;
    height: .45333rem
}
.header-title {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 0%;
    -moz-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    display: block;
    color: #4c4c4c;
    line-height: .46667rem
}
.header-title h2 {
    font-size: .24rem
}
.header .fui-search {
    padding: 0 .09333rem;
    height: .45333rem
}
.header .fui-search .search-text {
    line-height: .42667rem;
    color: #ccc;
    padding: 0 .4rem 0 0;
    font-size: .18667rem;
    display: block
}
.header .fui-search-submit {
    right: .06667rem;
    top: .05333rem
}
.main {
    background: #f5f5f5;
    min-height: 6.4rem
}
.arrow-up {
    display: inline-block;
    vertical-align: middle;
    width: .13333rem;
    height: .10667rem;
    background-image: url(/m/wap/wap/static/images/icon_01.png);
    background-repeat: no-repeat;
    background-size: 1.33333rem 1.33333rem;
    background-position: -.49333rem -.72rem
}
.wap-app {
    padding-bottom: .26667rem;
    background: #fff
}
.wap-app > ul {
    padding: .26667rem .2rem 0;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center
}
.wap-app li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 0%;
    -moz-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    text-align: center
}
.wap-app a {
    display: inline-block
}
.wap-app .app-icon {
    width: .66667rem;
    height: .66667rem;
    display: block;
    margin: 0 auto
}
.wap-app .num, .wap-app .txt {
    display: block;
    font-size: .18667rem;
    color: #666
}
.wap-app .txt {
    margin-top: .10667rem
}
.fui-tab .tab-title {
    width: 100%;
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    height: .6rem
}
.fui-tab .tab-title .item {
    display: block;
    height: .6rem;
    line-height: .6rem;
    font-size: .21333rem;
    color: #4c4c4c;
    text-align: center;
    border-top: 2px solid #ececec;
    background: #ececec;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 0%;
    -moz-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    border-left: 1px solid #e0e0e0
}
.fui-tab .active.item {
    color: #ff7300;
    border-top-color: #ff7300;
    background: #f5f5f5
}
.fui-tab .tab-cont {
    background-color: #f5f5f5
}
.fui-search-input {
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    display: block;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #e3e3e3;
    padding: 0 .06667rem
}
.fui-search-input .search-text {
    width: 100%;
    height: .32rem;
    border: none;
    background-color: transparent;
    padding: .05333rem 0;
    padding-left: .37333rem;
    font-size: .18667rem;
    font-size: .2rem;
    color: #ccc
}
.icon-rmb {
    color: #ff7300;
    font-size: .18667rem;
    font-family: sans-serif
}
.button-use-app, .main .open-app {
    height: .53333rem;
    line-height: .50667rem;
    max-width: 2rem;
    margin: 0 auto;
    display: block;
    font-size: .17333rem;
    padding: 0 .30667rem;
    border: 1px solid transparent;
    border-left-color: #ffaa3c;
    border-top-color: #ffaa3c;
    border-bottom-color: #e4720d;
    color: #fff;
    -webkit-border-radius: .06667rem;
    border-radius: 5px;
    background-color: #ff8d1e;
    background-image: -moz-linear-gradient(to bottom, #ff9726, #ff8315);
    background-image: -ms-linear-gradient(to bottom, #ff9726, #ff8315);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9726), to(#ff8315));
    background-image: -webkit-linear-gradient(180deg, #ff9726, #ff8315);
    background-image: -o-linear-gradient(to bottom, #ff9726, #ff8315);
    background-image: linear-gradient(180deg, #ff9726, #ff8315)
}
#fui-loading {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -.29333rem;
    margin-top: -.53333rem;
    z-index: 9999
}
.fui-autocomplete, .toast-tip {
    z-index: 99999
}
.toast-tip {
    display: none;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -.26667rem
}
.toast-tip > span {
    display: inline-block;
    background: rgba(0, 0, 0, .6);
    height: .4rem;
    line-height: .4rem;
    color: #fff;
    padding: 0 .2rem;
    -webkit-border-radius: .4rem;
    border-radius: 30px
}
.search-page {
    display: none;
    background: #fff;
    min-height: 6.4rem;
    position: relative
}
.search-page .form-search {
    position: relative;
    padding: .10667rem .2rem;
    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex
}
.search-page .search-cancel {
    padding: 0 .06667rem;
    min-width: 0;
    width: .6rem;
    color: #999
}
.search-page .search-bar {
    height: .46667rem;
    border: 1px solid #ccc;
    -webkit-border-radius: .06667rem;
    border-radius: 5px;
    background: #fff;
    padding: 0 .53333rem 0 .73333rem;
    position: relative;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 0%;
    -moz-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%
}
.search-page .s-type-button {
    width: .69333rem;
    font-size: .18667rem;
    left: 0;
    top: 0;
    position: absolute;
    height: .44rem;
    line-height: .44rem
}
.search-page .s-type-button:after {
    display: block;
    content: "";
    height: .26667rem;
    position: absolute;
    width: .02667rem;
    background: #e6e6e6;
    top: .09333rem;
    right: -.02667rem;
    z-index: 10
}
.search-page .search-btn {
    width: .53333rem;
    height: .46667rem;
    min-width: 0;
    position: absolute;
    padding: 0;
    right: 0;
    top: 0;
    margin: -.01333rem -.01333rem 0 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}
.search-page .icon-search {
    display: block;
    width: .4rem;
    height: .4rem;
    margin-left: .05333rem;
    background-image: url(/m/wap/wap/static/images/icon_01.png);
    background-repeat: no-repeat;
    background-size: 1.33333rem 1.33333rem;
    background-position: .05333rem -.25333rem;
    background-size: 1.06667rem 1.06667rem
}
.search-page .fui-btn-action {
    height: .46667rem;
    line-height: .46667rem;
    margin-left: .13333rem;
    font-size: .18667rem
}
.search-page .arrow-up {
    margin-left: .05333rem
}
.search-page .select-button {
    position: absolute
}
.search-page .inp-search {
    margin: 0;
    padding: 0
}
.search-page .s-type-value {
    width: .53333rem;
    margin-left: .06667rem;
    color: #666
}
.search-page .s-type-list {
    display: none;
    width: 1.13333rem;
    height: 1.06667rem;
    background: #fff;
    -webkit-border-radius: .04rem;
    border-radius: 3px;
    border: 1px solid #ccc;
    position: absolute;
    left: .2rem;
    top: .56rem
}
.search-page .s-type-list.show {
    display: block
}
.search-page .s-type-list > span {
    color: #666;
    display: block;
    line-height: .53333rem;
    height: .53333rem;
    text-align: center;
    font-size: .2rem;
    border-top: 1px solid #d9d9d9
}
.search-page .s-type-list > span:first-child {
    border-top: none
}
.search-page .list-item {
    padding: .06667rem;
    display: block;
    line-height: .46667rem;
    border-bottom: 1px solid #d9d9d9
}
.search-page .icon-history {
    display: inline-block;
    width: .33333rem;
    height: .33333rem;
    margin: 0 .06667rem 0 .13333rem;
    background-image: url(/m/wap/wap/static/images/icon_01.png);
    background-repeat: no-repeat;
    background-size: 1.33333rem 1.33333rem;
    vertical-align: middle;
    background-position: -.66667rem -.34667rem
}
.search-page .s-history {
    max-height: 5.06667rem
}
.search-page .search-input {
    height: .44rem;
    margin-left: .06667rem;
    position: relative
}
.search-page .search-input input {
    display: block;
    font-size: .18667rem;
    margin: 0;
    border: none;
    height: .44rem;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 0%;
    -moz-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%
}
.search-page .icon-del {
    display: none;
    width: .26667rem;
    height: .26667rem;
    line-height: .26667rem;
    margin: .08rem .06667rem 0;
    background: url(//astyle-src.alicdn.com/m/lofty/assets/images/public_icon_clear.png) no-repeat;
    background-size: cover
}
.search-page .show-del .icon-del {
    display: block
}
.search-page .s-recommend {
    display: none;
    padding: .13333rem
}
.search-page .s-recommend .title {
    color: #666;
    line-height: .46667rem;
    border-bottom: 1px solid #d9d9d9
}
.search-page .s-r-list {
    padding-top: .13333rem
}
.search-page .s-r-list:after, .search-page .s-r-list:before {
    content: " ";
    display: table
}
.search-page .s-r-list:after {
    clear: both
}
.search-page .s-r-list a {
    float: left;
    padding: .02667rem .13333rem;
    border: 1px solid #ccc;
    -webkit-border-radius: .04rem;
    border-radius: 3px;
    margin: .06667rem .13333rem .13333rem 0;
    font-size: .17333rem
}
.disableScroll, .disableScroll body {
    height: 100%;
    overflow: hidden
}
.no-result {
    padding: .66667rem 0
}
.no-result .text {
    text-align: center;
    color: #ccc
}
.no-result .icon-search {
    display: inline-block;
    width: .45333rem;
    height: .45333rem;
    vertical-align: middle;
    background-image: url(/m/wap/wap/static/images/icon_01.png);
    background-repeat: no-repeat;
    background-size: 1.33333rem 1.33333rem;
    background-position: .02667rem -.89333rem
}
#searchPage.show {
    position: absolute;
    z-index: 99100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block
}
#clear-history {
    padding: .13333rem 0;
    text-align: center
}
.fui-autocomplete .item {
    height: 2.5rem;
    line-height: 2.5rem;
    color: #666;
    padding: 0 .2rem;
    border-top: 1px solid #d9d9d9;
    -webkit-box-shadow: inset 0 .01333rem 0 0 #fff;
    box-shadow: inset 0 1px 0 0 #fff
}