.acceleration {
    transform: translate3d(0px, 0px, 0px);
}
.flex {
    display: -webkit-flex;
    display: flex;
}
.flex-center {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.hide {
    display: none !important;
}
.noscroll {
    overflow: hidden;
}