{{template "header.html" .}}
<style>
    body {
        height: 100%;
        overflow: hidden;
    }

    * {
        box-sizing: border-box;
    }

    .mod-tab-wrapper {
        height: 42px;
    }

    .mod-tab {
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        margin: 0 auto;
        max-width: 100000px !important;
        display: -webkit-box;
        display: box;
        display: -webkit-flex;
        display: flex;
        overflow-x: scroll;
    }

    .mod-tab, .mod-tab-item {
        width: 100%;
        overflow: hidden;
        height: 40px;
        background: #fff;
    }

    .mod-tab-item, .mod-btn {
        display: block;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        white-space: nowrap;
        line-height: 40px;
        border-left: 1px solid #ddd;
        text-decoration: none;
        text-align: center;
        font-size: 14px;
        color: #333;
    }

    .mod-container {
        display: -webkit-box;
        display: box;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        -webkit-justify-content: flex-end;
    }

    .mod-btn-group {
        display: -webkit-box;
        display: box;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        flex-wrap: wrap;
    }

    .mod-btn {
        background: #fefefe;
        min-width: 33.3%;
    }

    .mod-btn:focus {
        background-color: #ff8d1e;
    }

    .mod-input {
        height: 100px;
        width: 100%;
        background-color: #fff;
        border: 1px solid #eee;
        box-sizing: border-box;
        padding: 8px;
        word-break: break-word;
        overflow-y: scroll;
        font-size: 18px;
    }

    .mod-list-item {
        justify-content: flex-start !important;
        align-items: center !important;
        padding: 0 !important;
        font-size: 14px !important;
        display: flex !important;
        border-bottom: 1px solid #e1e4e8;
    }

    .mod-list {
        flex: 1;
        overflow-y: auto;
    }

    .mod-list-item > a {
        align-items: center !important;
        flex: 1 1 auto !important;
        padding: 8px !important;
        text-decoration: none !important;
        display: flex !important;
        color: #1b1f23;
        min-height: 44px;
        min-width: 0;
    }

    .mod-list-icon {
        flex-shrink: 0 !important;
        margin-right: 8px !important;
        text-align: center !important;
        width: 28px;
        color: #333;
    }

    .mod-list-icon > svg {
        fill: currentColor;
        vertical-align: text-bottom;
        flex-shrink: 0 !important;
        overflow: hidden;
    }
</style>

<div class="mod-tab-wrapper">
    <div class="mod-tab">
        <div class="mod-tab-item">计算器</div>
        <div class="mod-tab-item"></div>
        <div class="mod-tab-item"></div>
    </div>
</div>
<div class="mod-container">
    <ul class="mod-list">

    </ul>
    <div class="mod-input" contenteditable="true"></div>

    <div class="mod-btn-group">
	
        <div class="mod-btn" id="save">保存</div>
        <div class="mod-btn" id="clear">清空</div>
        <div class="mod-btn" id="backspace">退格</div>
	
        <div class="mod-btn" data-value="/">除</div>
        <div class="mod-btn" data-value="*">乘</div>
        <div class="mod-btn" data-value="+">加</div>
        <div class="mod-btn" data-value="-">减</div>
        <div class="mod-btn" data-value="1">1</div>
        <div class="mod-btn" data-value="2">2</div>
        <div class="mod-btn" data-value="3">3</div>
        <div class="mod-btn" data-value="4">4</div>
        <div class="mod-btn" data-value="5">5</div>
        <div class="mod-btn" data-value="6">6</div>
        <div class="mod-btn" data-value="7">7</div>
        <div class="mod-btn" data-value="8">8</div>
        <div class="mod-btn" data-value="9">9</div>
        <div class="mod-btn" data-value="0">0</div>
        <div class="mod-btn" data-value=".">.</div>
    </div>
</div>
{{if .Debug}}
    <script src="/store/static/js/share.js"></script>
    <script src="/store/static/js/calculator.js"></script>
{{else}}
    <script src="/store/static/calculator.aef49d903703b52fdc7040a5179bda50.js"></script>
{{end}}
{{/*<script>*/}}
{{/*    function clipboard(callback) {*/}}
{{/*        if (navigator.clipboard) {*/}}
{{/*            navigator.clipboard.readText().then(function (value) {*/}}
{{/*                callback && callback(value);*/}}
{{/*            }).catch(function (error) {*/}}
{{/*                callback && callback(null);*/}}
{{/*            });*/}}
{{/*            return*/}}
{{/*        }*/}}
{{/*        var element = document.createElement('textarea');*/}}
{{/*        var previouslyFocusedElement = document.activeElement;*/}}
{{/*        // Prevent keyboard from showing on mobile*/}}
{{/*        element.setAttribute('readonly', '');*/}}
{{/*        element.contentEditable = true;*/}}
{{/*        element.style.contain = 'strict';*/}}
{{/*        element.style.position = 'absolute';*/}}
{{/*        element.style.left = '-9999px';*/}}
{{/*        element.style.fontSize = '12pt'; // Prevent zooming on iOS*/}}

{{/*        document.body.append(element);*/}}
{{/*        if (element.setSelectionRange) {*/}}
{{/*            element.focus();*/}}
{{/*            element.setSelectionRange(element.value.length, element.value.length);*/}}
{{/*        } else if (element.createTextRange) {*/}}
{{/*            var range = element.createTextRange();*/}}
{{/*            range.collapse(true);*/}}
{{/*            range.moveEnd('character', element.value.length);*/}}
{{/*            range.moveStart('character', element.value.length);*/}}
{{/*            range.select();*/}}
{{/*        }*/}}
{{/*        var isSuccess = false;*/}}
{{/*        try {*/}}
{{/*            isSuccess = document.execCommand('paste');*/}}
{{/*            console.log(isSuccess);*/}}
{{/*            //callback && callback(element.textContent);*/}}

{{/*        } catch (_) {*/}}
{{/*            console.log(_);*/}}
{{/*            callback && callback(null);*/}}
{{/*        }*/}}
{{/*        element.remove();*/}}

{{/*        return isSuccess;*/}}
{{/*    }*/}}

{{/*    var modContainer_ = document.querySelector('.mod-container');*/}}
{{/*    var modTabWrapper_ = document.querySelector('.mod-tab-wrapper');*/}}
{{/*    var modBtns_ = document.querySelectorAll('.mod-btn[data-value]');*/}}
{{/*    var modInput_ = document.querySelector('.mod-input');*/}}

{{/*    modInput_.addEventListener('input', function () {*/}}
{{/*        console.log(arguments);*/}}
{{/*    })*/}}
{{/*    for (var i = 0; i < modBtns_.length; i++) {*/}}
{{/*        modBtns_[i].addEventListener('click', function (event) {*/}}
{{/*            modInput_.textContent = substringBeforeLast(modInput_.textContent, ' = ') +*/}}
{{/*                event.currentTarget.getAttribute('data-value');*/}}
{{/*            var value = eval(modInput_.textContent);*/}}
{{/*            if (!isNaN(value)) {*/}}
{{/*                modInput_.textContent += ' = ' + value.toFixed(2);*/}}
{{/*            }*/}}
{{/*        })*/}}
{{/*    }*/}}


{{/*    modContainer_.style.height = (window.innerHeight - modTabWrapper_.getClientRects()[0].height) + 'px';*/}}

{{/*    function substringBeforeLast(s, c) {*/}}
{{/*        var i = s.lastIndexOf(c);*/}}
{{/*        if (i === -1) return s;*/}}
{{/*        return s.substring(0, i);*/}}
{{/*    }*/}}

{{/*    document.getElementById('backspace')*/}}
{{/*        .addEventListener('click',*/}}
{{/*            function () {*/}}
{{/*                clipboard(function (value) {*/}}
{{/*                    console.log(value);*/}}
{{/*                })*/}}
{{/*            });*/}}
{{/*    document.getElementById('content-holder')*/}}
{{/*</script>*/}}
{{template "footer.html" .}}