{{template "header.html" .}}
<div id="cart"></div>
<div class="detail-footer">
    <div class="detail-footer-container">
        <div class="detail-footer-biz-btn-group"></div>
        <div class="detail-footer-order-btn-group">
            <a class="footer-order-btn order-btn-show" style="background: transparent"></a>
            <a class="footer-order-btn order-btn-show btn-important">立即订购</a>
        </div>
    </div>
</div>
{{if .Debug}}
    <script src="/store/static/js/share.js"></script>
    <script src="/store/static/js/cart.js"></script>
{{else}}
    <script src="/store/static/cart.6df964ecdb61a40d51327666149abaa9.js"></script>
{{end}}
{{template "footer.html" .}}
