{{template "header.html" .}}
<div class="details_wrapper" id="details-content">

    <div class="detail-header-layout">
        <div class="detail-header-container">
            <a class="detail-header-btn btn-go-back" style="display: inline"></a>
            <a class="detail-header-btn btn-go-cart"></a>
        </div>
    </div>

    <div class="detail-image">
        <div class="swipe">
            <div class="swipe-wrap">
                {{range .Showcases}}
                    <div><img src="/store/static/pictures/{{.}}"></div>
                {{end}}
            </div>
        </div>
        <div class="image-slide-index-box">
            <span class="image-slide-current-index">1</span>/<span class="image-slide-count">5</span>
        </div>
    </div>

    <div class="details_list">
        <div class="tab_wrapper" style="display: none">
            <div class="tab">
                <div class="tab-title-list">
                    <div class="tab-title-item tab-active">
                        <span class="tab-title-text">现货</span>
                    </div>
                    <div class="tab-title-item">
                        <span class="tab-title-text">代发</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="details_box">
            <div class="details-item detail-title-container no-border-bottom">
                <div class="offer-title-container">
                    <h1 class="title-content">
                        <span class="title-text">{{.Title}}</span>
                    </h1>
                </div>
            </div>
        </div>


        {{/*        价格*/}}
        <div class="detail-price">
            <div class="details-item detail-price-container no-border-bottom">
                <div class="detail-price-list">
                    <div class="detail-price-item">
                        <div class="price-all-value">
                            <div class="price-show-box">
                                <span class="price-unit">¥</span>
                                <span class="price-num">{{.Price}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/*        */}}

        {{/*        物流*/}}

        {{/*        {{if .Logistics}}*/}}
        {{/*            <div class="detail-logistics" style="display: none;">*/}}
        {{/*                <div class="details-item detail-logistics-container no-border-bottom">*/}}
        {{/*                    <div class="details-item-title detail-logistics-title">*/}}
        {{/*                        物流*/}}
        {{/*                    </div>*/}}
        {{/*                    <div class="details-item-content detail-logistics-content">*/}}
        {{/*                        <span class="detail-logistics-text">浙江省 金华市</span>*/}}
        {{/*                        <span class="detail-logistics-text">*/}}
        {{/*                        <span>快递费</span>*/}}
        {{/*                        <span class="price-rmb">¥</span><span>4.00</span>*/}}
        {{/*                    </span>*/}}
        {{/*                    </div>*/}}
        {{/*                </div>*/}}
        {{/*            </div>*/}}
        {{/*        {{end}}*/}}
        {{/*        */}}

    </div>
    <!--    -->
    <div class="details_list">

        {{/*        */}}{{/*        规格*/}}
        {{/*        {{template "details-sku.html" .}}*/}}
        {{/*        */}}{{/*        */}}

        <div class="detail-attribute">
            <div class="details-item">
                <div class="details-item-title">属性</div>
                <div class="details-item-content has-item-arrow">
                    <span class="detail-sku-text">&nbsp;</span>
                </div>
            </div>
        </div>

    </div>

    {{/*    */}}
    <div class="details_list">

        <div class="detail-service">
            <div class="details-item">
                <div class="details-item-title">服务</div>
                <div class="details-item-content has-item-arrow">
                    <span class="detail-sku-text">
                        <span class="detail-service-item">7天包换</span>
                    </span>
                </div>
            </div>
        </div>


    </div>
    {{/*    */}}

    <div class="detail-description">
        <div class="details-item no-border-bottom">
            <div class="tab">
                <div class="tab-title-list">
                    <div class="tab-title-item tab-active">
                        <span class="tab-title-text">
                            图文详情
                        </span>
                    </div>
                </div>
            </div>
            <div class="detail-description-content">
                {{.Details}}
            </div>
        </div>

    </div>
</div>

<div class="detail-footer">
    <div class="detail-footer-container">
        <div class="detail-footer-biz-btn-group"></div>
        <div class="detail-footer-order-btn-group">
            <a class="footer-order-btn order-btn-show" id="taobao" target="_blank"
               {{if .Taobao}}href="{{.Taobao}}}" {{else}}href="https://shop151475952.taobao.com/"{{end}}>进入淘宝店</a>
            <a class="footer-order-btn order-btn-show btn-important" id="order" data-id="{{.UId}}">立即订购</a>
        </div>
    </div>
</div>

{{/**/}}

<div class="detail-attribute-mask" id="detail-attribute-mask">
    <div class="detail-attribute-mask-inner"></div>
    <div class="detail-attribute-modal-container" style="max-height: 80%">
        <div class="detail-attribute-header">
            <div>产品属性</div>
        </div>
        <div class="detail-attribute-content">
            <div class="detail-attribute-list">
                {{.Properties}}
            </div>
        </div>
        <div class="detail-attribute-close">
            <div>关闭</div>
        </div>
    </div>
</div>
{{/**/}}
<div class="detail-order-mask" id="detail-order-mask" style="display: none"
     data-id="{{.UId}}"
     data-price="{{.Price}}">
    <div class="detail-order-mask-inner"></div>
    <div class="detail-order-container">

        <div class="detail-order-header">
            <div class="detail-order-header-container">
                <div class="detail-order-current-image">
                    <div class="image-container">
                        {{if .Showcases}}
                            <img src="/store/static/pictures/{{index .Showcases 0}}">
                        {{end}}
                    </div>
                </div>
                {{/*                */}}
                <div class="price-box">
                    <div class="price-item">
                        <div class="price-show-price">
                            ¥<span class="price-num">{{.Price}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="selector-content">
            <div class="container-relative">
                <div class="container-absolute">
                    <ul class="prop-list">
                        <li class="price-item">
                            <div class="prop-amount">
                                <div class="amount-controller">
                                    <a class="amount-btn amount-down-btn"></a>
                                    <input type="text" class="amount-input" value="1">
                                    <a class="amount-btn amount-up-btn"></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="phone-num-container">
                        <input type="number" placeholder="请输入收货人手机号码">
                        <div class="underline">
                            <div class="unfocused-line"></div>
                            <div class="focused-line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="selector-footer">
            <div class="selector-info-box">
                <div class="total-info">
                    <div class="info-right clearfix">
                        <div class="total-amount">
                            <span>共</span>
                            <span class="color-highlight">1</span>
                            <span>个</span>
                        </div>
                        <div class="total-price">
                            <span class="price-unit">¥</span>
                            <span class="price-num">{{.Price}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="selector-btn-group">
                <a class="selector-btn">确定</a>
            </div>
        </div>
    </div>
</div>

{{/* https://github.com/tweenjs/tween.js */}}
<script type="text/javascript" src="/store/static/js/swipe.min.js"></script>
<script type="text/javascript" src="/store/static/js/Tween.min.js"></script>
<script type="text/javascript" src="/store/static/js/lazyload.min.js"></script>

{{if  .Debug}}
    <script src="/store/static/js/share.js"></script>
    <script src="/store/static/js/details.js"></script>
{{else}}
    <script src="/store/static/details.30c62ca956c2964591980825d45eea62.js"></script>
{{end}}
<script>
    lazyload();
</script>
{{template "footer.html" .}}
