<div class="detail-sku" style="display: none">
    <div class="details-item">
        <div class="details-item-title">规格</div>
        <div class="details-item-content has-item-arrow">
            <span class="detail-sku-text">&nbsp;</span>
        </div>
    </div>
</div>