{{template "header.html" .}}
<div class="details_wrapper">
    <div class="details_list">
        <div class="tab_wrapper">
            <div class="tab">
                <div class="tab-title-list">
                    <div class="tab-title-item tab-active">
                        <span class="tab-title-text">现货</span>
                    </div>
                    <div class="tab-title-item">
                        <span class="tab-title-text">代发</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="details_box">
            <div class="details-item detail-title-container">
                <div class="offer-title-container">
                    <h1 class="title-content">
                        <span class="title-text">坐垫eva泡沫地垫 家用宿舍拼接地板爬行垫子榻榻米地垫拼接地垫</span>
                    </h1>
                </div>
            </div>
        </div>

        <div class="detail-price">
            <div class="details-item detail-price-container">
                <div class="detail-price-list">
                    <div class="detail-price-item">
                        <div class="price-all-value">
                            <div class="price-show-box">
                                <span class="price-unit">¥</span>
                                <span class="price-num">0.35</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--    -->

</div>
{{template "footer.html" .}}
