<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.Title}} - 淘货</title>
    {{if .Debug}}
        <link rel="stylesheet" href="/store/static/css/reset.css"/>
        <link rel="stylesheet" href="/store/static/css/utilities.css">
        <link rel="stylesheet" href="/store/static/css/icon.css"/>
        <link rel="stylesheet" href="/store/static/css/index.css"/>
        <link rel="stylesheet" href="/store/static/css/nav.css"/>
        <link rel="stylesheet" href="/store/static/css/search-modal.css"/>
        <link rel="stylesheet" href="/store/static/css/bar-switch.css">
        <link rel="stylesheet" href="/store/static/css/search-results.css">
        <link rel="stylesheet" href="/store/static/css/filter.css"/>
        <link rel="stylesheet" href="/store/static/css/search-filter.css"/>
        <link rel="stylesheet" href="/store/static/css/seach-bar.css"/>
        <link rel="stylesheet" href="/store/static/css/cardslider.css"/>
        <link rel="stylesheet" href="/store/static/css/footer-bar.css"/>
        <link rel="stylesheet" href="/store/static/css/slider.css"/>
        <link rel="stylesheet" href="/store/static/css/categories.css"/>
        <link rel="stylesheet" href="/store/static/css/loading.css"/>
        <link rel="stylesheet" href="/store/static/css/hot_billboard.css"/>
        <link rel="stylesheet" href="/store/static/css/footer.css"/>
        <link rel="stylesheet" href="/store/static/css/details.css"/>
        <link rel="stylesheet" href="/store/static/css/tab.css"/>
    {{else}}
        <link rel="stylesheet" href="/store/static/app.2b783c88c80c10ddae7df9f4b487f35e.css"/>
    {{end}}
</head>
<body>