{{template "header.html" .}}
<div class="header">
    <div class="home-header-logo">
        <svg id="图层_1" data-name="图层 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 849 150">
            <defs>
                <style>.cls-1 {
                        fill: #fff;
                    }

                    .cls-2 {
                        fill: #ff6000;
                    }</style>
            </defs>
            <title>header</title>
            <rect class="cls-1" width="849" height="150"/>
            <path class="cls-2"
                  d="M43.11,76Q34.65,68,23.72,59.59l8.45-9.45q9.94,7.46,19.88,15.91Zm-5,57.67-12.92-3.48q4-13.42,11.93-43.75a77,77,0,0,0,12.43,4Q42.6,114.27,38.14,133.66Zm8-90.47q-5-5-16.4-14.91a15.71,15.71,0,0,1-2.49-2l8.45-8.95q9.44,7.46,19.88,15.41ZM61,56.11l-.5-.5a73.57,73.57,0,0,0-9.45-7Q67,31.26,73.43,15.35l13.42,1.49-5,10.44h58.66q0,53.69-1.49,86.5.49,19.39-19.88,18.39l-16.9.5q-.5-3-1.49-8.45a15.69,15.69,0,0,0-1-3.48h14.91q12.42.49,12.43-9.94,1-36.78,1-72.58H74.92A101.18,101.18,0,0,1,61,56.11ZM55.53,85.44V75H83.87V61.58h-8q-3.48,5-8,10.44l-4.47-3q-3.48-2-5-3a101.72,101.72,0,0,0,16.4-23.36l11.43,1.49-1.49,3a16.75,16.75,0,0,1-2.49,4h35.3V61.58H95.8V75h26.84V85.44H95.8v21.38h12.43V91.4h10.44v25.35H61V91.4H71.44v15.41H83.87V85.44Z"/>
            <path class="cls-2"
                  d="M156.45,56.61q-.5-1.49-2.49-6.46a32.31,32.31,0,0,1-2.49-6,92.32,92.32,0,0,0,32.81-28.83l12.43,5a138.81,138.81,0,0,1-12.92,14.91V68H170.86V47.16q-1.49,1-4,3Q164.39,51.64,156.45,56.61Zm107.87,77.55a549.31,549.31,0,0,0-52.69-17.9q-10,12.42-54.19,18.39a101.71,101.71,0,0,0-6-11.93q53.19-3.48,53.69-22.87,1-5.46,1.49-10.44h13.42a98.12,98.12,0,0,1-1.49,10.94,8.31,8.31,0,0,1-.5,2.49,15.79,15.79,0,0,1-1,3q12.92,4.47,41.26,13.42l11.93,3Zm-97.43-21.87V73.51h91v37.78H244.44V84.45H180.31v27.84Zm27.34-59.16-5.47-10.94q3-.49,8.45-2,4-1,14.91-3.48V15.84h13.42v17.4q22.37-6.45,35.3-11.93l6,9.94q-25.35,10-41.26,13.92v2q-1,8.95,8,8h14.91q7.95.5,8.95-6.46a56.13,56.13,0,0,0,1-6.46,21.42,21.42,0,0,0,.5-3.48,48,48,0,0,0,7,2.49,34.78,34.78,0,0,1,5.47,1.49q-.5,8-2.49,11.93-2.49,11.93-17.9,11.43H227.54q-15.92.5-15.41-16.4v-.5A119.28,119.28,0,0,1,194.23,53.13Z"/>
        </svg>
    </div>
</div>
<!---->
<div>
    <div class="home-search">
        <div class="home-search-input">
            <img class="home-search-input-icon" src="/store/static/images/search.png">
            <span class="home-search-input-text">{{.SearchHolder}}</span>
        </div>
    </div>
    <div class="home-search home-search-fixed hide">
        <div class="home-search-input">
            <img class="home-search-input-icon" src="/store/static/images/search.png">
            <span class="home-search-input-text">{{.SearchHolder}}</span>
        </div>
    </div>
</div>
<!---->
<div class="node-inserted">
    <div class="swipe" id="slider">
        <div class="swipe-wrap">
            {{$slideLen:=len .Slide}}
            {{range  .Slide}}
                <div class="swiper-slide slider-pic"
                     style="background-image: url(/store/static/pictures/{{index . 0}});width: 360px;"></div>
            {{end}}
        </div>
        <div class="swiper-pagination">
            <span class="swiper-active-index" id="swiper-active-index">{{$slideLen}}</span>
            <span class="swiper-fuhao"></span>
            <span class="swiper-length-index" id="swiper-length-index">{{$slideLen}}</span>
        </div>
    </div>
</div>
<!---->
<div class="node-inserted">
    <div class="nav">
        <div class="nav-box">
            <a class="nav-item">
                <img src="/store/static/images/women-clothing.png">
                <span>女装</span>
            </a>
            <a class="nav-item">
                <img src="/store/static/images/baihuo.png">
                <span>百货</span>
            </a>
            <a class="nav-item">
                <img src="/store/static/images/tongzhuang.png">
                <span>童装</span>
            </a>
            <a class="nav-item">
                <img src="/store/static/images/shipin.png">
                <span>食品饮料</span>
            </a>
            <a class="nav-item" href="/store/categories">
                <img src="/store/static/images/fenlie.png">
                <span>更多品类</span>
            </a>
        </div>
    </div>
</div>
<!---->
{{/*<div class="home-recommend">*/}}
{{/*    <a class="home-recommend-item home-recommend-item-main"></a>*/}}
{{/*</div>*/}}
<!---->
<div class="node-inserted">
    <div class="like-wrapper">
        <div class="like-header">
            <span class="like-title-red">猜你</span>
            <span class="like-title-black">喜欢</span>
            <span class="like-title">为你推荐精选好货！</span>
        </div>
        <div class="like-content-wrapper">
            <div id="like-content" class="like-content">
                {{/*                */}}
                {{.Items}}
                {{/*                */}}
                {{/*                                <div class="like-row">*/}}
                {{/*                                    <div class="like-cell">*/}}
                {{/*                                        <img src="https://cbu01.alicdn.com/img/ibank/2019/636/707/10359707636_1421303757.360x360.jpg_.webp">*/}}
                {{/*                                        <div class="like-cell-footer">*/}}
                {{/*                                            <span>女童背带裤春装新款2019韩版中大童牛仔阔腿裤 儿童牛仔吊带裤子</span>*/}}
                {{/*                                            <div class="like-cell-bottom">*/}}
                {{/*                                                <span class="like-price">￥1.5</span>*/}}
                {{/*                                                <span class="like-quantities">155</span>*/}}
                {{/*                                            </div>*/}}
                {{/*                                        </div>*/}}
                {{/*                                    </div>*/}}
                {{/*                                </div>*/}}
            </div>

        </div>
        <!---->
        <span class="like-load-more">努力加载中...</span>
    </div>
</div>
<!---->
<div class="footer-bar">
    <div class="footer-bar-wrapper">
        <a class="bar-item">
            <img src="/store/static/images/home.png">
            <span class="active">首页</span>
        </a>
        <a class="bar-item" href="/store/service">
            <img src="/store/static/images/service.png">
            <span>服务</span>
        </a>
        <a class="bar-item" href="/store/calculator" target="_blank">
            <img src="/store/static/images/calculator.png">
            <span>计算器</span>
        </a>
    </div>
</div>
<!---->
<div class="footer flex-center">
    <ul class="footer-top flex-center" style="display: none">
        <li>
            <a>收藏夹</a><span>|</span>
        </li>
        <li>
            <a>网站地图</a>
        </li>
    </ul>
    <ul class="app-list" style="display: none">
        <li>
            <a><img><span>客户端</span></a>
        </li>
    </ul>
    <span class="copy-right">淘货 2018-2019</span>
</div>
<!---->
<div class="node-inserted" id="search-modal">
    <div class="search-modal">
        <div class="search-modal_top">
            <div class="top_input">
                <input type="search" class="top_input-text" placeholder="请输入关键字">
                <button class="top_clear">
                    <i class="icon close top_clear-icon"></i>
                </button>
                <button class="top_search">
                    <i class="icon search top_search-icon"></i>
                </button>
            </div>
            <div class="top_back">取消</div>
        </div>
        <div class="search-modal_autocomplete">
            {{/*            <div class="autocomplete-list_item">*/}}
            {{/*                asdasd*/}}
            {{/*            </div>*/}}
            {{/*            <div class="autocomplete-list_item">*/}}
            {{/*                asdasd*/}}
            {{/*            </div>*/}}
            {{/*            <div class="autocomplete-list_item">*/}}
            {{/*                asdasd*/}}
            {{/*            </div>*/}}
            {{/*            <div class="autocomplete-list_item">*/}}
            {{/*                asdasd*/}}
            {{/*            </div>*/}}
        </div>
        <div class="search-modal_recent">
            <div class="search-modal_hot">
                <div class="modal_title">
                    <span>大家都在搜</span>
                    <span class="modal_hot-refresh">
                        <i class="icon refresh modal_hot-refresh-icon"></i>换一批</span>
                </div>
                <div class="modal_hot-tags">
                    {{range .SearchKeywords}}
                        <div class="hot-tag">{{.}}</div>
                    {{end}}
                </div>
            </div>
            <div class="search-modal_history">
                <div class="search-modal_title">
                    <span>搜索历史</span>
                    <span class="search-modal_clear">
                        <i class="icon close search-modal_clear-icon"></i>
                    </span>
                </div>
                <div class="search-modal_historytags">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/store/static/js/swipe.min.js"></script>
{{if .Debug}}
    <script src="/store/static/js/share.js"></script>
    <script src="/store/static/js/search-modal.js"></script>
    <script src="/store/static/js/home.js"></script>
{{else}}
    <script src="/store/static/home.5ea352c15cf8f0584d33231d425ca9de.js"></script>
{{end}}

{{template "footer.html" .}}
