{{template "header.html" .}}
<div class="header">
    <div class="home-header-logo">
        <svg id="图层_1" data-name="图层 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 849 150">
            <defs>
                <style>.cls-1 {
                        fill: #fff;
                    }

                    .cls-2 {
                        fill: #ff6000;
                    }</style>
            </defs>
            <title>header</title>
            <rect class="cls-1" width="849" height="150"/>
            <path class="cls-2"
                  d="M75.16,70.78q-4.79-4.5-11-9.28L69,56.16q5.62,4.22,11.25,9Zm-2.81,32.63-7.31-2q2.25-7.59,6.75-24.75a43.59,43.59,0,0,0,7,2.25Q74.87,92.44,72.34,103.41Zm4.5-51.19Q74,49.41,67.56,43.78a8.89,8.89,0,0,1-1.41-1.12l4.78-5.06q5.34,4.22,11.25,8.72Zm8.44,7.31L85,59.25a41.62,41.62,0,0,0-5.34-3.94q9-9.84,12.66-18.84l7.59.84-2.81,5.91h33.19q0,30.38-.84,48.94.28,11-11.25,10.41l-9.56.28q-.28-1.69-.84-4.78a8.88,8.88,0,0,0-.56-2h8.44q7,.28,7-5.62.56-20.81.56-41.06H93.16A57.25,57.25,0,0,1,85.28,59.53ZM82.19,76.13V70.22h16V62.63h-4.5q-2,2.81-4.5,5.91l-2.53-1.69q-2-1.12-2.81-1.69a57.55,57.55,0,0,0,9.28-13.22l6.47.84-.84,1.69a9.48,9.48,0,0,1-1.41,2.25h20v5.91H105v7.59h15.19v5.91H105V88.22h7V79.5h5.91V93.84H85.28V79.5h5.91v8.72h7V76.13Z"/>
            <path class="cls-2"
                  d="M139.28,59.81q-.28-.84-1.41-3.66a18.28,18.28,0,0,1-1.41-3.37A52.23,52.23,0,0,0,155,36.47l7,2.81a78.53,78.53,0,0,1-7.31,8.44V66.28h-7.31V54.47q-.84.57-2.25,1.69Q143.78,57,139.28,59.81Zm61,43.88A310.78,310.78,0,0,0,170.5,93.56q-5.63,7-30.66,10.41a57.55,57.55,0,0,0-3.37-6.75q30.09-2,30.38-12.94.56-3.09.84-5.91h7.59a55.51,55.51,0,0,1-.84,6.19,4.7,4.7,0,0,1-.28,1.41,8.93,8.93,0,0,1-.56,1.69q7.31,2.53,23.34,7.59l6.75,1.69ZM145.19,91.31V69.38h51.47V90.75h-7.59V75.56H152.78V91.31Zm15.47-33.47-3.09-6.19q1.69-.28,4.78-1.12,2.25-.56,8.44-2V36.75h7.59v9.84a184.7,184.7,0,0,0,20-6.75l3.38,5.63a200,200,0,0,1-23.34,7.88v1.13q-.57,5.06,4.5,4.5h8.44q4.5.28,5.06-3.66a31.76,31.76,0,0,0,.56-3.66,12.12,12.12,0,0,0,.28-2,27.17,27.17,0,0,0,3.94,1.41,19.68,19.68,0,0,1,3.09.84,18.34,18.34,0,0,1-1.41,6.75q-1.41,6.75-10.12,6.47H179.5q-9,.28-8.72-9.28v-.28A67.48,67.48,0,0,1,160.66,57.84Z"/>
        </svg>
    </div>
</div>
<!---->
<div>
    <div class="home-search">
        <div class="home-search-input">
            <img class="home-search-input-icon" src="https://gw.alicdn.com/tfs/TB1YYQprCzqK1RjSZFHXXb3CpXa-105-105.png">
            <span class="home-search-input-text">{{.SearchHolder}}</span>
        </div>
    </div>
    <div class="home-search home-search-fixed hide">
        <div class="home-search-input">
            <img class="home-search-input-icon" src="https://gw.alicdn.com/tfs/TB1YYQprCzqK1RjSZFHXXb3CpXa-105-105.png">
            <span class="home-search-input-text">{{.SearchHolder}}</span>
        </div>
    </div>
</div>
<!---->
<div class="node-inserted">
    <div class="slider" id="slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <a class="swiper-slide slider-pic"
                   style="background-image: url(https://img.alicdn.com/tfs/TB1LYdTkuT2gK0jSZFvXXXnFXXa-1080-498.jpg);width: 360px;"></a>
                <a class="swiper-slide slider-pic"
                   style="background-image: url(https://img.alicdn.com/tfs/TB1LYdTkuT2gK0jSZFvXXXnFXXa-1080-498.jpg);width: 360px;"></a>

            </div>
        </div>
    </div>
</div>
<!---->
<div class="home-recommend">
    <a class="home-recommend-item home-recommend-item-main"></a>
</div>
<!---->
<div class="node-inserted">
    <div class="like-wrapper">
        <div class="like-header">
            <span class="like-title-red">猜你</span>
            <span class="like-title-black">喜欢</span>
            <span class="like-title">为你推荐精选好货！</span>
        </div>
        <div class="like-content-wrapper">
            <div id="like-content" class="like-content">
                <div class="like-row">
                    <div class="like-cell">
                        <img
                                src="https://cbu01.alicdn.com/img/ibank/2019/636/707/10359707636_1421303757.360x360.jpg_.webp">
                        <div class="like-cell-footer">
                            <span>女童背带裤春装新款2019韩版中大童牛仔阔腿裤 儿童牛仔吊带裤子</span>
                            <div class="like-cell-bottom">
                                <span class="like-price">￥1.5</span>
                                <span class="like-quantities">155</span>
                            </div>
                        </div>
                    </div>
                    <div class="like-cell">
                    </div>
                </div>
                <div class="like-row">
                    <div class="like-cell">
                        <img
                                src="https://cbu01.alicdn.com/img/ibank/2019/636/707/10359707636_1421303757.360x360.jpg_.webp">
                        <div class="like-cell-footer">
                            <span>女童背带裤春装新款2019韩版中大童牛仔阔腿裤 儿童牛仔吊带裤子</span>
                            <div class="like-cell-bottom">
                                <span class="like-price">￥1.5</span>
                                <span class="like-quantities">155</span>
                            </div>
                        </div>
                    </div>
                    <div class="like-cell">
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <span class="like-load-more"></span>
    </div>
</div>
<!---->
<div class="footer-bar">
    <div class="footer-bar-wrapper">
        <a class="bar-item">
            <img src="/store/static/images/home.png">
            <span class="active">首页</span>
        </a>
    </div>
</div>
<!---->
<div class="footer flex-center">
    <span class="copy-right"></span>
</div>
<!---->
<div class="node-inserted" id="search-modal">
    <div class="search-modal">
        <div class="search-modal_top">
            <div class="top_input">
                <input type="search" class="top_input-text" placeholder="请输入关键字">
                <button class="top_clear">
                    <i class="icon close top_clear-icon"></i>
                </button>
                <button class="top_search">
                    <i class="icon search top_search-icon"></i>
                </button>
            </div>
            <div class="top_back">取消</div>
        </div>
        <div class="search-modal_autocomplete">
            <div class="autocomplete-list_item">
                asdasd
            </div>
            <div class="autocomplete-list_item">
                asdasd
            </div>
            <div class="autocomplete-list_item">
                asdasd
            </div>
            <div class="autocomplete-list_item">
                asdasd
            </div>
        </div>
        <div class="search-modal_recent">
            <div class="search-modal_hot">
                <div class="modal_title">
                    <span>大家都在搜</span>
                    <span class="modal_hot-refresh">
                        <i class="icon refresh modal_hot-refresh-icon"></i>换一批</span>
                </div>
                <div class="modal_hot-tags">
                    {{range .SearchKeywords}}
                        <div class="hot-tag">{{.}}</div>
                    {{end}}
                </div>
            </div>
            <div class="search-modal_history">
                <div class="search-modal_title">
                    <span>搜索历史</span>
                    <span class="search-modal_clear">
                        <i class="icon close search-modal_clear-icon"></i>
                    </span>
                </div>
                <div class="search-modal_historytags">
                </div>
            </div>
        </div>
    </div>
</div>
{{template "footer.html" .}}
